.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #54b52d;
  padding: 20px 50px;
  box-sizing: border-box;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: white;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
  animation: notificationAnimation 2s ease-out infinite;
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: rotateY(360deg);
  }
}

.nav__btn {
  transform: translateY(30px);
  opacity: 0;
  animation: appearBtnAnimation 0.3s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.5s;
}
.nav__btn:last-child {
  animation-delay: 0.8s;
}
